body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Style the top navigation bar */
.topnav2 {
    overflow: hidden;
    background-color: rgb(124, 123, 123);
}

/* Style the topnav links */
.topnav2 a {
    float: left;
    display: block;
    color: #fcf9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.select-bar {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;

    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    /* height: 40vw; */
    /* Should be removed. Only for demonstration */
    /* width: 500px; */
    /* height: 500px; */
    border: 1px solid red;
    /* position: relative; */
}

canvas_for_three { 
    width: 600px; 
    height: 500px;
    border: 1px solid white;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

/* #canvas{
    background-color: rgb(153, 145, 145);

    border: 1px solid rgb(130, 22, 218);
} */

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}

#legend {
    font-size: 12px;
    min-height: 12px;
    padding: 3px 10px;
}

.legend-color {
    border: 1px solid #333;
    display: inline-block;
    height: 12px;
    margin-bottom: -1px;
    margin-left: 15px;
    margin-right: 3px;
    min-width: 12px;
}

#settings {
    background: #fff;
    font-size: 13px;
    left: -160px;
    position: fixed;
    top: 120px;
    transition: left 0.3s;
}

#settings #settings-form {
    float: left;
    padding: 5px;
    width: 160px;
}

#settings #settings-handle {
    float: left;
    font-size: 20px;
    padding: 5px;
    text-align: right;
    width: 20px;
}

#settings:hover {
    left: 0;
}

#settings #width-attribute {
    margin-bottom: 5px;
}

#settings #height-attribute {
    margin-bottom: 15px;
}

.short-select {
    height: 20px;
    min-height: 20px;
    max-width: 100px;
    padding: 2px;
    font-size: 12px;
}

.carousel-caption,
.carousel-control {
    color: #2e2e2e;
    text-shadow: none;
}

h2 {
    margin: 0;
}

#tracker {
    background: #fff;
    display: none;
    padding: 10px;
    position: fixed;
    text-align: center;
    width: 300px;
    word-wrap: break-word;
}

.navbar-nav>li>a .fa {
    display: inline;
    margin-right: 3px;
    line-height: 20px;
}

.navbar-brand {
    margin-right: 60px;
}


#top-navbar {
    margin-bottom: 0;
}

#top-navbar .navbar-brand {
    height: 48px;
}

#top-navbar .navbar-nav>li>a {
    padding-bottom: 12px;
    padding-top: 12px;
}

#top-navbar #demo-project-select {
    font-size: 14px;
}


#filter-navbar {
    font-size: 12px;
    min-height: 28px;
}

#filter-navbar .container-fluid {
    position: relative;
    top: -4px;
}

#filter-navbar .navbar-header {
    height: 30px;
    min-height: 30px;
}

#filter-navbar .navbar-brand {
    font-size: 13px;
    padding: 10px;
    padding-left: 15px;
}

#filter-navbar .navbar-left {
    line-height: 25px;
    position: relative;
    top: 9px;
}

#filter-navbar form {
    display: inline-block;
}

.modal-body h3:first-of-type {
    margin-top: 0;
}

.navbar {
    border-radius: 0;
}

@media (max-width: 768px) {
    #filter-navbar .navbar-header {
        min-height: 50px;
    }

    #filter-navbar .navbar-brand {
        font-size: 14px;
        padding: 5px;
        padding-left: 15px;
    }
}